:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  list-style: none;
}

body {
  background: linear-gradient(135deg, #1e1e1e 0%, #282828 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.app {
  background-color: #ffc107;
  border-radius: 20px;
  padding: 0px 0px 30px 0px;
  text-align: center;
  max-width: 400px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.profile-card {
  background-color: #fff;
  border-radius: 20px;
  padding: 30px;
  margin-bottom: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.profile-image {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #ffc107;
  transition: transform 0.3s;
}

.profile-image:hover {
  transform: scale(1.05);
}

h2 {
  font-size: 22px;
  margin: 10px 0 5px 0;
  color: #333;
}

p {
  font-size: 16px;
  color: #666;
}

.button-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 20px;
}

.social-link {
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 4px;
  border-radius: 50px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  color: #000;
  transition: background-color 0.3s, transform 0.2s;
}

.social-link:hover {
  background-color: #e0e0e0;
  transform: translateY(-2px);
}

.social-icon {
  width: 60px;
  height: 60px;
  margin-right: 10px;
}

::-webkit-scrollbar {
  width: 6px;
  background-color: #a7a7a7;
  border: 5px solid #a7a7a7;
}

::-webkit-scrollbar-thumb {
  background-color: #000;
  border-radius: 50px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 30px #EAEAEA inset !important;
  -webkit-text-fill-color: inherit !important;
}
